# IDE files
/**/.idea
/*build*/
/**/.vscode

# Graph files
graph-dataset.zip
dataset*

# Auto gen registry
registry.txt

# Python cache files
/**/__pycache__

# Python build artifacts
dist/
*.egg-info/
__pycache__/
*.pyc