[submodule "deps/gtest"]
	path = deps/gtest
	url = https://github.com/google/googletest.git
[submodule "deps/taskflow"]
	path = deps/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "deps/opencl-icd-loader"]
	path = deps/opencl-icd-loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
[submodule "deps/opencl-headers"]
	path = deps/opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
